*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Henny Penny', sans-serif;
}
H2{
    font-size: 50px;
}
.image{
    width: 60%;
    height: 90%;
    background-image: url('/img/kevin.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}