*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/house.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    flex-direction: column;
    font-family: 'Henny Penny', sans-serif;
}
div{
    width: 120px;
    height: 120px;
    margin: 0;
}
/*GAME SECTION*/
.menu{
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100px;
    background-color: rgba(192, 192, 192, 0.1);
    padding: 10px 0;
    border-radius: 5px;
}
.menu-face{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
/*DISPLAY CARDS*/
p{
    color: white;
    letter-spacing: 3px;
    width: 90%;
    padding: 5px 0;
}
/*DISPLAY CARDS*/
#game-board{
    height: 700px;
    width: 100%;
    max-width: 800px;
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}
/*GAME SECTION*/

/*CARD SECTION*/
.cards{
    aspect-ratio: 1/1;
    width: 100%;
    transition: all 20ms;
    transform-style: preserve-3d;
    position: relative;
    
}
/*CARD SECTION*/
#special{
background-position: center;
background-size: cover;
width: 100px;
height: 100px;
}
.face{
    width: 100px;
    height: 100px;
    border-radius: 7px;
    cursor: pointer;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    box-shadow: 1px 1px 15px #bcbcbc;
}
.back{
    background-color: rgb(141, 141, 141);
}
.front{
    transition: 20ms ease-in-out;
}




/*SCORE SECTION*/
.container-button{
    height: 50px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
}
.button{
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px #bcbcbc;
    font-family: 'Henny Penny', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.score{
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: row;
}
span{
    margin: 0 5px;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px #bcbcbc;
}